{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "react/jsx-props-no-spreading": 0
  }
}
